* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
  font-weight: bold;
}
.subtitle {
  font-weight: bold;
} 
@media (min-width: 576px )and (max-width: 768px) {
  .image {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/*  when the screen resolution is between 576 and 768 px the width of the images will be only 80% otherwise it is too big for small screens. */
